/* page tweaks */
/* Pico uses 16px base (browser default). All rem values recalibrated from halfmoon 10px base. */
.page h1, .page h2, .page h3,
.page h4, .page h5, .page h6 {
    font-weight: 400;
}

.page h1 { font-size: 2.25rem; }
.page h2 { font-size: 2rem; }
.page h3 { font-size: 1.75rem; }
.page h4 { font-size: 1.5rem; }
.page h5 { font-size: 1.25rem; }
.page h6 { font-size: 1rem; }

.page p,
.page li {
    font-size: 1rem;
}

.page li {
    margin-bottom: 0.125rem;
    margin-left: 1rem;
}

/* may the li insanity begin */

.page ul,
.page ol {
    padding-left: 0.625rem;
    list-style-position: outside;
}

.page ol li ol li ol li ul li,
.page ol li ol li ul li,
.page ol li ul li,
.page ul li {
    list-style-type: disc;
}

.page ul li ol li ol li ul li,
.page ol li ol li ul li ul li,
.page ol li ol li ul li ul li,
.page ol li ul li ul li,
.page ul li ul li {
    list-style-type: circle;
}

.page ul li ul li ul li {
    list-style-type: square;
}

.page ul li ul li ul li ol li,
.page ul li ul li ol li,
.page ul li ol li,
.page ol li {
    list-style-type: decimal;
}

.page ul li ol li ol li,
.page ol li ol li {
    list-style-type: lower-alpha;
}

.page ol li ol li ol li {
    list-style-type: lower-roman;
}

.page ul ol,
.page ol ul,
.page ol ol,
.page ul ul
{
    margin: 0.625rem 0 0.625rem 0rem;
}

.page blockquote {
    border-left: 2px solid rgba(24, 144, 255, 0.5);
    padding-left: 0.625rem;
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
    background-color: rgba(200, 200, 200, 0.1);
}
/* table -- Pico handles base styling; we just add margins */
.page table {
    margin-block-start: 0.625rem;
    margin-block-end: 0.625rem;
}

/* highlighttable with linenumbers */

.highlight table.highlighttable {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.highlight table > tbody > tr > td.linenos {
    padding: 0;
    margin: 0;
    width: 0;
    border-right: 0;
    background-color: transparent;
}

.highlight table > tbody > tr > td.linenos > div.linenodiv > pre {
    background-color: rgba(0, 0, 0, 0.1);
    margin-block-start: 0;
    margin-block-end: 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.page table > tbody > tr > td.code {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: transparent;
}
