/* toasts */
.alert.alert-secondary a,
[data-theme="dark"] .alert.alert-secondary a {
    color: black;
    text-decoration: underline;
}

.global-toc-link {
    font-size: 1rem;
}

.global-toc-link:hover {
    text-decoration: none;
}
