{{define "page_head"}}
{{if .revision}}
<meta name="robots" content="noindex, nofollow"/>
{{end}}
{{end}}

{{define "page_navbardropdown"}}
<li><a href="/{{.pagepath}}/attachments">
    <span class="dropdown-icon"><i class="fa fa-paperclip"></i></span>
    Attachments
</a></li>
<li><a href="/{{.pagepath}}/history">
    <span class="dropdown-icon"><i class="far fa-file-alt"></i></span>
    History
</a></li>
<li><a href="/{{.pagepath}}/blame">
    <span class="dropdown-icon"><i class="fas fa-people-arrows"></i></span>
    Blame
</a></li>
<li><a href="/{{.pagepath}}/rename">
    <span class="dropdown-icon"><i class="fas fa-exchange-alt"></i></span>
    Rename / Move
</a></li>
<li><a href="/{{.pagepath}}/delete" class="text-danger">
    <span class="dropdown-icon text-danger"><i class="far fa-trash-alt"></i></span>
    Delete
</a></li>
<li class="dropdown-divider"></li>
<li><a href="#" onclick="toggleDarkMode(); return false;">
    <span class="dropdown-icon"><i class="far fa-moon"></i></span>
    Toggle dark mode
</a></li>
{{if .current_user}}{{if .current_user.is_authenticated}}
<li><a href="/-/settings">
    <span class="dropdown-icon"><i class="fas fa-user-cog"></i></span>
    Settings
</a></li>
<li><a href="/-/logout">
    <span class="dropdown-icon"><i class="fas fa-sign-out-alt"></i></span>
    Logout
</a></li>
{{else}}
<li><a href="/-/login">
    <span class="dropdown-icon"><i class="fas fa-sign-in-alt"></i></span>
    Login
</a></li>
{{end}}{{else}}
<li><a href="/-/login">
    <span class="dropdown-icon"><i class="fas fa-sign-in-alt"></i></span>
    Login
</a></li>
{{end}}
{{end}}

{{define "page_navbar"}}
<a href="/{{.pagepath}}/edit" id="edit-page-btn" class="btn btn-primary" role="button" title="Edit Page (e)"><i class="fas fa-pencil-alt"></i></a>
{{end}}

{{define "page_breadcrumbs"}}
{{if .breadcrumbs}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
        {{range .breadcrumbs}}
        <li class="breadcrumb-item"><a href="/{{.Path}}">{{.Name}}</a></li>
        {{end}}
    </ol>
</nav>
{{end}}
{{end}}

{{define "page_content"}}
<div class="page">
{{.htmlcontent}}
</div>
{{if .backlinks}}
<div class="backlinks mt-20">
    <h4>What links here</h4>
    <ul>
    {{range .backlinks}}<li><a href="/{{.}}">{{.}}</a></li>{{end}}
    </ul>
</div>
{{end}}
{{end}}

{{define "page_extra_nav"}}
{{if .toc}}
<div class="col-xl-3 d-none d-xl-block extra-nav-container" id="column-extra">
    <div class="extra-nav" id="extra-nav">
        <div id="extranav-toc">
            <nav class="toc">
                <ul class="toc-list">
                {{range .toc}}
                <li class="toc-item toc-item-h{{.Level}}">
                    <a href="#{{.Anchor}}">{{.Raw}}</a>
                </li>
                {{end}}
                </ul>
            </nav>
        </div>
    </div>
</div>
{{end}}
{{end}}

{{define "page_js"}}
{{if .library_requirements}}
{{if .library_requirements.RequiresMermaid}}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>mermaid.initialize({startOnLoad:true});</script>
{{end}}
{{if .library_requirements.RequiresMathJax}}
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{{end}}
{{end}}
{{end}}
