/*
 * For media: print, duplicate the light css
 */

[data-theme="dark"] .highlight .hll,
.highlight .hll { background-color: #ffffcc }
[data-theme="dark"] .highlight .hll,
.highlight .hll { background-color: #ffffcc }
[data-theme="dark"] .highlight,
.highlight { background: #ffffff; }
[data-theme="dark"] .highlight .c,
.highlight .c { color: #aaaaaa; font-style: italic } /* Comment */
[data-theme="dark"] .highlight .err,
.highlight .err { color: #FF0000; background-color: #FFAAAA } /* Error */
[data-theme="dark"] .highlight .k,
.highlight .k { color: #0000aa } /* Keyword */
[data-theme="dark"] .highlight .ch,
.highlight .ch { color: #aaaaaa; font-style: italic } /* Comment.Hashbang */
[data-theme="dark"] .highlight .cm,
.highlight .cm { color: #aaaaaa; font-style: italic } /* Comment.Multiline */
[data-theme="dark"] .highlight .cp,
.highlight .cp { color: #4c8317 } /* Comment.Preproc */
[data-theme="dark"] .highlight .cpf,
.highlight .cpf { color: #aaaaaa; font-style: italic } /* Comment.PreprocFile */
[data-theme="dark"] .highlight .c1,
.highlight .c1 { color: #aaaaaa; font-style: italic } /* Comment.Single */
[data-theme="dark"] .highlight .cs,
.highlight .cs { color: #0000aa; font-style: italic } /* Comment.Special */
[data-theme="dark"] .highlight .gd,
.highlight .gd { color: #aa0000 } /* Generic.Deleted */
[data-theme="dark"] .highlight .ge,
.highlight .ge { font-style: italic } /* Generic.Emph */
[data-theme="dark"] .highlight .ges,
.highlight .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
[data-theme="dark"] .highlight .gr,
.highlight .gr { color: #aa0000 } /* Generic.Error */
[data-theme="dark"] .highlight .gh,
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
[data-theme="dark"] .highlight .gi,
.highlight .gi { color: #00aa00 } /* Generic.Inserted */
[data-theme="dark"] .highlight .go,
.highlight .go { color: #888888 } /* Generic.Output */
[data-theme="dark"] .highlight .gp,
.highlight .gp { color: #555555 } /* Generic.Prompt */
[data-theme="dark"] .highlight .gs,
.highlight .gs { font-weight: bold } /* Generic.Strong */
[data-theme="dark"] .highlight .gu,
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
[data-theme="dark"] .highlight .gt,
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
[data-theme="dark"] .highlight .kc,
.highlight .kc { color: #0000aa } /* Keyword.Constant */
[data-theme="dark"] .highlight .kd,
.highlight .kd { color: #0000aa } /* Keyword.Declaration */
[data-theme="dark"] .highlight .kn,
.highlight .kn { color: #0000aa } /* Keyword.Namespace */
[data-theme="dark"] .highlight .kp,
.highlight .kp { color: #0000aa } /* Keyword.Pseudo */
[data-theme="dark"] .highlight .kr,
.highlight .kr { color: #0000aa } /* Keyword.Reserved */
[data-theme="dark"] .highlight .kt,
.highlight .kt { color: #00aaaa } /* Keyword.Type */
[data-theme="dark"] .highlight .m,
.highlight .m { color: #009999 } /* Literal.Number */
[data-theme="dark"] .highlight .s,
.highlight .s { color: #aa5500 } /* Literal.String */
[data-theme="dark"] .highlight .na,
.highlight .na { color: #1e90ff } /* Name.Attribute */
[data-theme="dark"] .highlight .nb,
.highlight .nb { color: #00aaaa } /* Name.Builtin */
[data-theme="dark"] .highlight .nc,
.highlight .nc { color: #00aa00; } /* Name.Class */
[data-theme="dark"] .highlight .no,
.highlight .no { color: #aa0000 } /* Name.Constant */
[data-theme="dark"] .highlight .nd,
.highlight .nd { color: #888888 } /* Name.Decorator */
[data-theme="dark"] .highlight .ni,
.highlight .ni { color: #880000; font-weight: bold } /* Name.Entity */
[data-theme="dark"] .highlight .nf,
.highlight .nf { color: #00aa00 } /* Name.Function */
[data-theme="dark"] .highlight .nn,
.highlight .nn { color: #00aaaa; } /* Name.Namespace */
[data-theme="dark"] .highlight .nt,
.highlight .nt { color: #1e90ff; font-weight: bold } /* Name.Tag */
[data-theme="dark"] .highlight .nv,
.highlight .nv { color: #aa0000 } /* Name.Variable */
[data-theme="dark"] .highlight .ow,
.highlight .ow { color: #0000aa } /* Operator.Word */
[data-theme="dark"] .highlight .w,
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
[data-theme="dark"] .highlight .mb,
.highlight .mb { color: #009999 } /* Literal.Number.Bin */
[data-theme="dark"] .highlight .mf,
.highlight .mf { color: #009999 } /* Literal.Number.Float */
[data-theme="dark"] .highlight .mh,
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
[data-theme="dark"] .highlight .mi,
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
[data-theme="dark"] .highlight .mo,
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
[data-theme="dark"] .highlight .sa,
.highlight .sa { color: #aa5500 } /* Literal.String.Affix */
[data-theme="dark"] .highlight .sb,
.highlight .sb { color: #aa5500 } /* Literal.String.Backtick */
[data-theme="dark"] .highlight .sc,
.highlight .sc { color: #aa5500 } /* Literal.String.Char */
[data-theme="dark"] .highlight .dl,
.highlight .dl { color: #aa5500 } /* Literal.String.Delimiter */
[data-theme="dark"] .highlight .sd,
.highlight .sd { color: #aa5500 } /* Literal.String.Doc */
[data-theme="dark"] .highlight .s2,
.highlight .s2 { color: #aa5500 } /* Literal.String.Double */
[data-theme="dark"] .highlight .se,
.highlight .se { color: #aa5500 } /* Literal.String.Escape */
[data-theme="dark"] .highlight .sh,
.highlight .sh { color: #aa5500 } /* Literal.String.Heredoc */
[data-theme="dark"] .highlight .si,
.highlight .si { color: #aa5500 } /* Literal.String.Interpol */
[data-theme="dark"] .highlight .sx,
.highlight .sx { color: #aa5500 } /* Literal.String.Other */
[data-theme="dark"] .highlight .sr,
.highlight .sr { color: #009999 } /* Literal.String.Regex */
[data-theme="dark"] .highlight .s1,
.highlight .s1 { color: #aa5500 } /* Literal.String.Single */
[data-theme="dark"] .highlight .ss,
.highlight .ss { color: #0000aa } /* Literal.String.Symbol */
[data-theme="dark"] .highlight .bp,
.highlight .bp { color: #00aaaa } /* Name.Builtin.Pseudo */
[data-theme="dark"] .highlight .fm,
.highlight .fm { color: #00aa00 } /* Name.Function.Magic */
[data-theme="dark"] .highlight .vc,
.highlight .vc { color: #aa0000 } /* Name.Variable.Class */
[data-theme="dark"] .highlight .vg,
.highlight .vg { color: #aa0000 } /* Name.Variable.Global */
[data-theme="dark"] .highlight .vi,
.highlight .vi { color: #aa0000 } /* Name.Variable.Instance */
[data-theme="dark"] .highlight .vm,
.highlight .vm { color: #aa0000 } /* Name.Variable.Magic */
[data-theme="dark"] .highlight .il,
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
