/*
 * css created with
 *
 *   pygmentize -S autum -f html -a ".highlight" | grep "^.highlight"
 *
 * and some manual tweaking.
 */

.highlight .hll { background-color: #ffffcc }
.highlight { background: #ffffff; }
.highlight .c { color: #aaaaaa; font-style: italic } /* Comment */
.highlight .err { color: #FF0000; background-color: #FFAAAA } /* Error */
.highlight .k { color: #0000aa } /* Keyword */
.highlight .ch { color: #aaaaaa; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #aaaaaa; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #4c8317 } /* Comment.Preproc */
.highlight .cpf { color: #aaaaaa; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #aaaaaa; font-style: italic } /* Comment.Single */
.highlight .cs { color: #0000aa; font-style: italic } /* Comment.Special */
.highlight .gd { color: #aa0000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00aa00 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #0000aa } /* Keyword.Constant */
.highlight .kd { color: #0000aa } /* Keyword.Declaration */
.highlight .kn { color: #0000aa } /* Keyword.Namespace */
.highlight .kp { color: #0000aa } /* Keyword.Pseudo */
.highlight .kr { color: #0000aa } /* Keyword.Reserved */
.highlight .kt { color: #00aaaa } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #aa5500 } /* Literal.String */
.highlight .na { color: #1e90ff } /* Name.Attribute */
.highlight .nb { color: #00aaaa } /* Name.Builtin */
.highlight .nc { color: #00aa00; } /* Name.Class */
.highlight .no { color: #aa0000 } /* Name.Constant */
.highlight .nd { color: #888888 } /* Name.Decorator */
.highlight .ni { color: #880000; font-weight: bold } /* Name.Entity */
.highlight .nf { color: #00aa00 } /* Name.Function */
.highlight .nn { color: #00aaaa; } /* Name.Namespace */
.highlight .nt { color: #1e90ff; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #aa0000 } /* Name.Variable */
.highlight .ow { color: #0000aa } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #009999 } /* Literal.Number.Bin */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sa { color: #aa5500 } /* Literal.String.Affix */
.highlight .sb { color: #aa5500 } /* Literal.String.Backtick */
.highlight .sc { color: #aa5500 } /* Literal.String.Char */
.highlight .dl { color: #aa5500 } /* Literal.String.Delimiter */
.highlight .sd { color: #aa5500 } /* Literal.String.Doc */
.highlight .s2 { color: #aa5500 } /* Literal.String.Double */
.highlight .se { color: #aa5500 } /* Literal.String.Escape */
.highlight .sh { color: #aa5500 } /* Literal.String.Heredoc */
.highlight .si { color: #aa5500 } /* Literal.String.Interpol */
.highlight .sx { color: #aa5500 } /* Literal.String.Other */
.highlight .sr { color: #009999 } /* Literal.String.Regex */
.highlight .s1 { color: #aa5500 } /* Literal.String.Single */
.highlight .ss { color: #0000aa } /* Literal.String.Symbol */
.highlight .bp { color: #00aaaa } /* Name.Builtin.Pseudo */
.highlight .fm { color: #00aa00 } /* Name.Function.Magic */
.highlight .vc { color: #aa0000 } /* Name.Variable.Class */
.highlight .vg { color: #aa0000 } /* Name.Variable.Global */
.highlight .vi { color: #aa0000 } /* Name.Variable.Instance */
.highlight .vm { color: #aa0000 } /* Name.Variable.Magic */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */


/*
 * css created with
 *
 *   pygmentize -S material -f html -a '[data-theme="dark"] .highlight'
 *
 * and some manual tweaking.
 */
[data-theme="dark"] .highlight .hll { background-color: #2C3B41 }
[data-theme="dark"] .highlight { background: transparent; color: #EEFFFF }
[data-theme="dark"] .highlight .c { color: #546E7A; font-style: italic } /* Comment */
[data-theme="dark"] .highlight .err { color: #FF5370 } /* Error */
[data-theme="dark"] .highlight .esc { color: #89DDFF } /* Escape */
[data-theme="dark"] .highlight .g { color: #EEFFFF } /* Generic */
[data-theme="dark"] .highlight .k { color: #BB80B3 } /* Keyword */
[data-theme="dark"] .highlight .l { color: #C3E88D } /* Literal */
[data-theme="dark"] .highlight .n { color: #EEFFFF } /* Name */
[data-theme="dark"] .highlight .o { color: #89DDFF } /* Operator */
[data-theme="dark"] .highlight .p { color: #89DDFF } /* Punctuation */
[data-theme="dark"] .highlight .ch { color: #546E7A; font-style: italic } /* Comment.Hashbang */
[data-theme="dark"] .highlight .cm { color: #546E7A; font-style: italic } /* Comment.Multiline */
[data-theme="dark"] .highlight .cp { color: #546E7A; font-style: italic } /* Comment.Preproc */
[data-theme="dark"] .highlight .cpf { color: #546E7A; font-style: italic } /* Comment.PreprocFile */
[data-theme="dark"] .highlight .c1 { color: #546E7A; font-style: italic } /* Comment.Single */
[data-theme="dark"] .highlight .cs { color: #546E7A; font-style: italic } /* Comment.Special */
[data-theme="dark"] .highlight .gd { color: #FF5370 } /* Generic.Deleted */
[data-theme="dark"] .highlight .ge { color: #89DDFF } /* Generic.Emph */
[data-theme="dark"] .highlight .ges { color: #FFCB6B } /* Generic.EmphStrong */
[data-theme="dark"] .highlight .gr { color: #FF5370 } /* Generic.Error */
[data-theme="dark"] .highlight .gh { color: #C3E88D } /* Generic.Heading */
[data-theme="dark"] .highlight .gi { color: #C3E88D } /* Generic.Inserted */
[data-theme="dark"] .highlight .go { color: #546E7A } /* Generic.Output */
[data-theme="dark"] .highlight .gp { color: #FFCB6B } /* Generic.Prompt */
[data-theme="dark"] .highlight .gs { color: #FF5370 } /* Generic.Strong */
[data-theme="dark"] .highlight .gu { color: #89DDFF } /* Generic.Subheading */
[data-theme="dark"] .highlight .gt { color: #FF5370 } /* Generic.Traceback */
[data-theme="dark"] .highlight .kc { color: #89DDFF } /* Keyword.Constant */
[data-theme="dark"] .highlight .kd { color: #BB80B3 } /* Keyword.Declaration */
[data-theme="dark"] .highlight .kn { color: #89DDFF; } /* Keyword.Namespace */
[data-theme="dark"] .highlight .kp { color: #89DDFF } /* Keyword.Pseudo */
[data-theme="dark"] .highlight .kr { color: #BB80B3 } /* Keyword.Reserved */
[data-theme="dark"] .highlight .kt { color: #BB80B3 } /* Keyword.Type */
[data-theme="dark"] .highlight .ld { color: #C3E88D } /* Literal.Date */
[data-theme="dark"] .highlight .m { color: #F78C6C } /* Literal.Number */
[data-theme="dark"] .highlight .s { color: #C3E88D } /* Literal.String */
[data-theme="dark"] .highlight .na { color: #BB80B3 } /* Name.Attribute */
[data-theme="dark"] .highlight .nb { color: #82AAFF } /* Name.Builtin */
[data-theme="dark"] .highlight .nc { color: #FFCB6B } /* Name.Class */
[data-theme="dark"] .highlight .no { color: #EEFFFF } /* Name.Constant */
[data-theme="dark"] .highlight .nd { color: #82AAFF } /* Name.Decorator */
[data-theme="dark"] .highlight .ni { color: #89DDFF } /* Name.Entity */
[data-theme="dark"] .highlight .ne { color: #FFCB6B } /* Name.Exception */
[data-theme="dark"] .highlight .nf { color: #82AAFF } /* Name.Function */
[data-theme="dark"] .highlight .nl { color: #82AAFF } /* Name.Label */
[data-theme="dark"] .highlight .nn { color: #FFCB6B } /* Name.Namespace */
[data-theme="dark"] .highlight .nx { color: #EEFFFF } /* Name.Other */
[data-theme="dark"] .highlight .py { color: #FFCB6B } /* Name.Property */
[data-theme="dark"] .highlight .nt { color: #82AAFF } /* Name.Tag */
[data-theme="dark"] .highlight .nv { color: #89DDFF } /* Name.Variable */
[data-theme="dark"] .highlight .ow { color: #89DDFF; } /* Operator.Word */
[data-theme="dark"] .highlight .pm { color: #89DDFF } /* Punctuation.Marker */
[data-theme="dark"] .highlight .w { color: #EEFFFF } /* Text.Whitespace */
[data-theme="dark"] .highlight .mb { color: #F78C6C } /* Literal.Number.Bin */
[data-theme="dark"] .highlight .mf { color: #F78C6C } /* Literal.Number.Float */
[data-theme="dark"] .highlight .mh { color: #F78C6C } /* Literal.Number.Hex */
[data-theme="dark"] .highlight .mi { color: #F78C6C } /* Literal.Number.Integer */
[data-theme="dark"] .highlight .mo { color: #F78C6C } /* Literal.Number.Oct */
[data-theme="dark"] .highlight .sa { color: #BB80B3 } /* Literal.String.Affix */
[data-theme="dark"] .highlight .sb { color: #C3E88D } /* Literal.String.Backtick */
[data-theme="dark"] .highlight .sc { color: #C3E88D } /* Literal.String.Char */
[data-theme="dark"] .highlight .dl { color: #EEFFFF } /* Literal.String.Delimiter */
[data-theme="dark"] .highlight .sd { color: #546E7A; font-style: italic } /* Literal.String.Doc */
[data-theme="dark"] .highlight .s2 { color: #C3E88D } /* Literal.String.Double */
[data-theme="dark"] .highlight .se { color: #EEFFFF } /* Literal.String.Escape */
[data-theme="dark"] .highlight .sh { color: #C3E88D } /* Literal.String.Heredoc */
[data-theme="dark"] .highlight .si { color: #89DDFF } /* Literal.String.Interpol */
[data-theme="dark"] .highlight .sx { color: #C3E88D } /* Literal.String.Other */
[data-theme="dark"] .highlight .sr { color: #89DDFF } /* Literal.String.Regex */
[data-theme="dark"] .highlight .s1 { color: #C3E88D } /* Literal.String.Single */
[data-theme="dark"] .highlight .ss { color: #89DDFF } /* Literal.String.Symbol */
[data-theme="dark"] .highlight .bp { color: #89DDFF } /* Name.Builtin.Pseudo */
[data-theme="dark"] .highlight .fm { color: #82AAFF } /* Name.Function.Magic */
[data-theme="dark"] .highlight .vc { color: #89DDFF } /* Name.Variable.Class */
[data-theme="dark"] .highlight .vg { color: #89DDFF } /* Name.Variable.Global */
[data-theme="dark"] .highlight .vi { color: #89DDFF } /* Name.Variable.Instance */
[data-theme="dark"] .highlight .vm { color: #82AAFF } /* Name.Variable.Magic */
[data-theme="dark"] .highlight .il { color: #F78C6C } /* Literal.Number.Integer.Long */

